<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Item.Properties.Settings.ItemConnectionString" connectionString="Data Source=DESKTOP-Q1K44I8\SA;Initial Catalog=Item;User ID=sa;Password=softmap"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>